<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="INPUT_DIR" value="D:\Diabolik lovers\Work\DL"/>
    <add key="ISO_FILE" value="D:\Diabolik lovers\Work\dl.ISO"/>
    <add key="ULTRAISO_PATH" value="C:\Program Files (x86)\UltraISO\UltraISO.exe"/>
    <add key="CPKMAKER_PATH" value="D:\Downloads\CRI2.40.13.0\crifilesystem\cpkmakec.exe"/>
    <add key="CSV_PATH" value="D:\Diabolik lovers\Work\DL.CSV"/>
    <add key="CPK_PATH" value="D:\Diabolik lovers\Work\INSTALL.DNS"/>
    <add key="EBOOT_PATH" value="D:\Diabolik lovers\Work\EBOOT.BIN"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
